* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.one-vs-one {
    background-color: rgb(154, 63, 63);
    width: 100%;
    height: 100vh;
}

.playersNameForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: auto 0px;
}

.playerNameInpWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%
}
.startButtonWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%
}
input {
    width: 100%;
    margin: 1em auto;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: large;
    height: 2em;
    outline: none;
    border: 0px;
    border-radius: 10px;
    padding: 1em;
}

label {
    font-weight: bold;
    font-size: large;
    font-family: 'Inconsolata', monospace;
}

#start-game {
    width: 100%;
    outline: none;
    border: 0px;
    border-radius: 10px;
    padding: 1em;
    background: rgb(76, 76, 161);
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    font-size: large;
}

.d-none {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Inconsolata', monospace;
}

h1 img {
    width: 10%;
}



.x-color {
    color: rgb(90, 180, 180);
}

.o-color {
    color: rgb(168, 127, 22);
}

.tiles{
    display: flex;
    width:90%;
    margin:auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tiles div {
    background-color: rgb(42, 41, 41);
    text-align: center;
    font-size: 2rem;
    width: 32%;
    height: 8rem;
    margin-top: 0.2em;
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiles div:nth-child(1) {
   
    border-radius: 15px 0px 0px 0px;
}  
.tiles div:nth-child(3) {
   
    border-radius: 0px 15px 0px 0px;
}   
.tiles div:nth-child(7) {
  
    border-radius: 0px 0px 0px 15px;
}  

.tiles div:nth-child(9) {
    
    border-radius: 0px 0px 15px 0px;
}   



#player-turn {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.result {
    height: 100vh;
    background-color: hotpink;
}

#result {
    text-align: center;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: rgb(20, 16, 16);
}

h2 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    padding-top: 5%;
    margin-bottom: 10%;
    font-size: 10rem;
}

#restart,
#play-again {
    display: block;
    width: 30%;
    height: 3em;
    margin-top: 2em;
    margin-left: 35%;
    border: 0;
    cursor: pointer;
    outline: none;
    background-color: rgb(151, 64, 64);
    border-radius: 10px;
    color: white;
    font-size: 1em;
    font-family: 'Inconsolata', monospace;

}

@media screen and (min-width: 768px) {
    .tiles {
        width: 50%;
     
    }
}
    
